<div class="page-header">
  <h2>A mágica do RoR</h2>
</div>

<ul class="thumbnails">
  <% @posts.each do |post| %>
    <li class="span4 post">
      <h4><%= link_to post.title, post_path(post)%></h4>
      <%= link_to image_tag("360x240.gif", :class => "img_post"), post_path(post) %>
      <span class="label label-info"><%= post.created_at.to_s(:post) %></span>
      <span class="badge badge-warning pull-right">Comentários : <%= post.comments.all.size %></span>
    </li>
  <% end %>
</ul>

<%= link_to "Crie seu POST aqui!!", new_post_path, :class => 'btn btn-primary btn-large pull-right' %>
