<div class="page-header">
  <h2><%= link_to "Posts", posts_path() %></h2>
</div>

<div class="show_post">
  <h1><%= @post.title %></h1>
  <p><%= @post.body %></p>
</div>

<div class="show_comment">
  <h2>Comentários</h2>
  <% if @post.comments.all.size > 0 %>
    <%= @post.comments.each do |comment| %>
      <h4> <%= comment.author %> </h4>
      <p> <%= comment.body_comment %> </p>
      <span class="pull-right"> <%= comment.created_at() %> </span>
      <div class="clear"></div>
      <hr />
    <% end %>
  <% else %>
    <span>Seja o primeiro a deixar um comentário</span>
  <% end %>
</div>

<div class="comments">
  <h2>Deixe seu comentário</h2>

  <%= form_for ([@post, @post.comments.build]), :html => { :class => 'form-horizontal' } do |f| %>
    <div class="control-group">
      <%= f.label "Autor", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :author, :class => 'text_field input_width' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label "Comentário", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :body_comment, :class => 'text_area input_width input_textarea_comment' %>
      </div>
    </div>

    <div >
      <%= f.submit "Enviar Comentário", :class => 'btn btn-primary btn-large pull-right' %>
    </div>

    <div class="clear"></div>
  <% end %>

</div>

<div class="form-actions">
  <%= link_to "Voltar", posts_path, :class => 'btn btn-large'  %>
  <%= link_to "Editar", edit_post_path(@post), :class => 'btn btn-large' %>
  <%= link_to "Excluir", post_path(@post),
                        :method => 'delete',
                        :confirm => "Excluir este post?",
                        :class => 'btn btn-danger btn-large' %>
</div>
